$main-black-color: #333333;
$deesign-color: #f38181;
$main-font: 14px;
$main-white-color: #FFFFFF;
$main-font-stack: "Montserrat", sans-serif;
$men-color: #999999;
$bg-color: #fce38a;
$secondary-font: 15px;
$footer-color: #e5e5e5;
$bt-form: #95E1D3;

