.title-button {
  width: 160px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid $main-white-color;
  border-radius: 10px;
  font-size: $main-font;
  color: $main-white-color;
  font-family: $main-font-stack;
  font-weight: 700;
  margin-bottom: 230px;
}
